/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
   background: #DDD;
}

header#layout-header {
   padding: 10px;
   border-bottom: 1px solid #000;
   background: #f7f7f7;;

   a {
      color: #F00;
      padding: 0;
      margin: 0;

      &:hover {
         text-decoration: none;
      }
   }

   p {
      color: #777;
   }
}

section#layout-content {
  padding: 20px;
  background:white;
}

section.page-block {

   &.page-block-center {
      width: 400px;
      margin: 0 auto;
   }

   h2 {
     font-size: 1.2rem;
     padding-bottom: 10px;
     border-bottom: 1px solid #AAA;
     margin-bottom: 20px;
   }
}